

.showcase {
	margin-bottom:5px;
	padding: 250px;
	background: white;
	color: gray;
	box-shadow: 0 0 20px;
	text-shadow: 0 0 10px;
	background-image: url(../images/H.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}

.main-article {
	margin-bottom: 20px;
	display: grid;
	grid-gap: 10px;
	color: yellow;
	font-family:sans-serif;
	font-size:16px;
	color:white;
}

.main-article ol{
	font-size:20px;
	font-family:sans-serif;
}

/* MAIN ARTICLE LEFT*/

.left {
	background: black;
	text-align: left;
	padding: 30px;
	display: grid;
	grid-gap: 50px;
	grid-template-columns: 1fr;
	margin-bottom:5px;
	
}

.left p {
	margin: 40px 0 30px 0;
	
}


.left h3 {
	margin-bottom: 180px;
}

.right {
	background: black;
	padding: 40px;
	
}
.right h4 {
	margin-top: 50px;
}
.right p {
	margin: 40px 0 60px 0;
}

.right:  {
	background: black;
	color: white;

}

	.main-article1 {
	margin-bottom: 20px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr;
	color: red;
	font-family:sans-serif;
	font-size:16px;
	color:white;
}
.article{
	background: black;
	text-align: left;
	padding: 30px;
	display: grid;
	grid-gap: 50px;
	grid-template-columns: 1fr 1fr;
	margin-bottom:5px;
	
}

.article p {
	margin: 40px 0 60px 0;
}


.article h3 {
	margin-bottom: 5px;
}

.article1 {
	background: black;
	padding: 40px;
}
.article1 h4 {
	margin-top: 50px;
}
.article1 p {
	margin: 40px 0 60px 0;
}

.article1:  {
	background: black;
	color: white;

}


